body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #dedede;
  overflow: visible;
}

.App {
  width: 100%;
  margin: 0;
  padding: 0;
}

.youtubePlayer {
  border: 1px solid #ccc;
  border-radius: 8px;
}

::selection {
  background-color: #cbff99;
  color: black;
}